@{
    ViewBag.Title = "Data Collector";
}

@*<h2>@ViewBag.Message</h2>*@
@*<p>
    Complete the following fields and click submit
</p>*@

@*<script src="Scripts/recorderjs/recorder.js"></script>
<script src="Scripts/main.js"></script>*@

<script>
            
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    var x = document.getElementById("locationLabel");
                    x.innerHTML = "Location: not supported";
                }
            }
            function showPosition(position) {
                var x = document.getElementById("locationLabel");
                x.innerHTML = "Latitude: " + position.coords.latitude + " Longitude: " + position.coords.longitude;

                $('#lat').val(position.coords.latitude);
                $('#lon').val(position.coords.longitude);

                //$('#locationLabel').innserHTML = "Captured";
            }

            function hasGetUserMedia() {
                return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
                          navigator.mozGetUserMedia || navigator.msGetUserMedia);
            }
            
            $(document).ready(function () {

                if (hasGetUserMedia()) {
                    // Good to go!
                } else {
                    var x = document.getElementById("audioLabel");
                    x.innerHTML = "Audio: not supported";
                }

                $("#location").click(function (event) {
                    getLocation();
                });

                //$("#audio").click(function (event) {
                //    toggleRecording(this);
                //});

                //initAudio();
            });

            var errorCallback = function (e) {
                
            };

            

        </script>

@using (Html.BeginForm())
{
    <label id="locationLabel" for="location"></label>
    <input id="location" type="button" value="Location" />
    <input id="lat" name="lat" type="hidden" value="" />
    <input id="lon" name="lon" type="hidden" value="" />

    <fieldset data-role="controlgroup">
	    <legend>Party Association:</legend>
     	    <input type="radio" name="party" id="radio-choice-2" value="Republican"  />
     	    <label for="radio-choice-2">Republican</label>

     	    <input type="radio" name="party" id="radio-choice-3" value="Democrat"  />
     	    <label for="radio-choice-3">Democrat</label>

     	    <input type="radio" name="party" id="radio-choice-4" value="Independent"  />
     	    <label for="radio-choice-4">Independent</label>
    </fieldset>

    <label for="strength">Strengty of Party Association</label>
    <input type="range" name="strength" id="strength" value="" min="1" max="10" />
    
    <label for="happy">Happy with Party</label>
    <input type="range" name="happy" id="happy" value="" min="1" max="10" />
    
    <label for="political">How Political in General</label>
    <input type="range" name="political" id="political" value="" min="1" max="10" />
    
    <label for="opinionated">Opinionated</label>
    <input type="range" name="opinionated" id="opinionated" value="" min="1" max="10" />    

    <label for="votes">Votes</label>
    <input type="range" name="votes" id="votes" value="" min="1" max="10" />
    
    <label for="friendly">Friendly</label>
    <input type="range" name="friendly" id="friendly" value="" min="1" max="10" />
    
    <label for="talk">Willing to Talk</label>
    <input type="range" name="talk" id="talk" value="" min="1" max="10" />        
    
    <label for="note">Notes:</label>
    <textarea name="note" id="note"></textarea>
   
    <input type="submit" value="Submit" />
}