@{
    ViewBag.Title = "Data Collector";
}

@*<h2>@ViewBag.Message</h2>*@
@*<p>
    Complete the following fields and click submit
</p>*@

<script src="Scripts/recorderjs/recorder.js"></script>
<script src="Scripts/main.js"></script>

<script>
            
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    var x = document.getElementById("locationLabel");
                    x.innerHTML = "Location: not supported";
                }
            }
            function showPosition(position) {
                var x = document.getElementById("locationLabel");
                x.innerHTML = "Latitude: " + position.coords.latitude +
                "<br/>Longitude: " + position.coords.longitude;
            }

            function hasGetUserMedia() {
                return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
                          navigator.mozGetUserMedia || navigator.msGetUserMedia);
            }
            
            $(document).ready(function () {

                if (hasGetUserMedia()) {
                    // Good to go!
                } else {
                    var x = document.getElementById("audioLabel");
                    x.innerHTML = "Audio: not supported";
                }

                $("#location").click(function (event) {
                    getLocation();
                });

                $("#audio").click(function (event) {
                    toggleRecording(this);
                });

                initAudio();
            });

            var errorCallback = function (e) {
                
            };

            

        </script>

<ul data-role="listview" data-inset="true">
   @* <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@

    <li id="location"><span id="locationLabel">Location</span></li>
    <li id="audio"><span id="audioLabel">Record Audio Note</span></li>

</ul>